<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1063167555749-dl4kk37jn4ob5aaqfjr1moo9f4jt2sb8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063167555749-dl4kk37jn4ob5aaqfjr1moo9f4jt2sb8</string>
	<key>API_KEY</key>
	<string>AIzaSyAis8SX6rV9GI_95EJYakZlRFyRAPW3IxE</string>
	<key>GCM_SENDER_ID</key>
	<string>1063167555749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taxiUz</string>
	<key>PROJECT_ID</key>
	<string>taxi-uz-d2d36</string>
	<key>STORAGE_BUCKET</key>
	<string>taxi-uz-d2d36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063167555749:ios:eced29622f4cbd2bb2b54c</string>
</dict>
</plist>